<div class="side-bar">
  <div class="nav flex-sm-column">
    <div class="nav-item">
      <a
        class="nav-link"
        routerLink="/my-strategies"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-home"></i> <span>My Strategies</span>
      </a>
    </div>
    <div class="nav-item">
      <a
        class="nav-link"
        routerLink="/settings"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-cog"></i> <span>Settings</span>
      </a>
    </div>
  </div>
</div>
